POSTGRES_DB=ecom_dw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-local-password
POSTGRES_PORT=5432
DB_HOST=localhost

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-this-minio-password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=lakehouse
